@import "../../variables.scss";

@mixin placeholder {
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder           {@content}
    &::-moz-placeholder          {@content}
    &:-ms-input-placeholder      {@content}  
}

.task-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: solid $classic-purple;
  margin: $page-container-margin;

  input {
    padding-bottom: $spacing-xs;
    border: none;
    font-size: 17px;
    outline: none;

    @include placeholder {
      color: gray;
      font-weight: lighter;
      padding-left: $spacing-xs;
    }
  }
  button {
    font-size: 21px;
    border: none;
    background: none;
    color:$classic-purple;
    padding: $spacing-xs $spacing-s;
  }
}
