.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 35px;
}

.input-field {
    margin: 10px 0;
    border: none;
    border-radius: 2px;
    background: coral;
    height: 35px;
    width: 100%;
}

.input-button {
    border: none;
    border-radius: 2px;
    background-color: coral;
    color: #fff;
    height: 35px;
    width: 75px;
}
