@import "../../variables.scss";

.list-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 16px 0 0;
  margin: $spacing-m 0;

  input {
    border: none;
    background: none;
    width: 80%;
    font-size: 28px;
    color: #121212;
    font-weight: bold;
  }

  button {
    border:none;
    background: none;
    padding: $spacing-xs $spacing-s;

    img {
      width: 12px;
    }
  }
}