@import "../../variables.scss";

.home {
    display: flex;
    flex-direction: column;
    margin: $page-container-margin;
    min-height: 100vh;
}

@media screen and (min-width: $screen-m) {
    .home {
        margin: $spacing-m auto;
        max-width: 600px;
    }
  }
