@import "../../variables.scss";

 @mixin placeholder {
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder           {@content}
    &::-moz-placeholder          {@content}
    &:-ms-input-placeholder      {@content}  
}

.signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: $page-container-margin;

  h1 {
    margin-top: $spacing-l;
    margin-bottom: 0;
  }

  form {
    display: flex;
    flex-direction: column;
    margin: $spacing-m 0 0 0;

    label {
      margin-bottom: $spacing-xs;
    }

    input {
      margin-bottom: $spacing-m;
      border: none;
      background-color: $light-grey;
      height: 40px;
      padding-left: $spacing-xs;
        
      @include placeholder {
        color: gray;
        font-weight:lighter;
      }
    }

    button {
      border: none;
      padding: $spacing-xs $spacing-m;
      background-color: $classic-purple;
      color: #fff;
      font-size: 17px;
      font-weight: bold;
      margin-bottom: $spacing-xs;
      width: fit-content;
    }
  }
  p {
    font-size: 12px;

    .link {
      color: $classic-purple;
    }
  }

  .img-container {
    display: flex;
    justify-content: center;
    margin: $spacing-m;

    img {
      object-fit: cover;
      width: 250px;
    }
  }
}
