@import "../../variables.scss";

.logout {
    display: flex;
    justify-content: flex-end;
    margin: $spacing-m 0;

    p {
        margin: 0 8px 3px 0;
        color: $light-orange;
    }
    
    button{
        background: none;
        border:none;

        img {
            width: 16px;
        }
    }
}