@import "../../variables.scss";

.logout {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;

    p {
        margin: 0 8px;
        color: $light-orange;
    }

    img {
        height: 16px;
        margin: 0 8px;
    }
    
    button{
        background: none;
        border:none;

        img {
            width: 16px;
            margin: 0 8px;
        }
    }
}