@import "../../variables.scss";

.tasks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 600px;
    min-height: 100vh;

    .top-nav {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
    }
}
