@import "../../variables.scss";

.task-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $spacing-m $spacing-s;

  .task {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin: $spacing-s 0;

    .checkbox-container {
      display: flex;
      flex-direction: row;
      align-items: baseline;

      .checkbox {
        margin: 0;
      }

      p {
        margin: 0 $spacing-s;
      }
    }

    button {
      background: none;
      border: none;

      img {
        width: 12px;
        padding: 0 10px;
      }
    }
  }
}
