$classic-purple: #6A74CC;
$classic-black:#121212;
$light-grey: #E5E5E5;

$spacing-xs: 8px;
$spacing-s: 16px;
$spacing-m: 32px;
$spacing-l: 64px;

$page-container-margin: 3vh 6vw;

$screen-s: 481px;
$screen-m: 769px;
$screen-l: 1025px;