@import "../../variables.scss";

.task-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: $page-container-margin;

  .task {
    display: flex;
    flex-direction: row;
    align-items: unset;
    justify-content: space-between;

    .checkbox-container {
      display: flex;
      flex-direction: row;
      align-items: baseline;

      p {
        margin: $spacing-s;
      }
    }

    button {
      background: none;
      border: none;

      img {
        width: 16px;
        padding: 10px;
      }
    }
  }
}
