@import "../../variables.scss";

.task-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: $page-container-margin;

  .task {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    p {
      margin: $spacing-xs;
    }
  }
}
