@import "../../variables.scss";

.task-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: $page-container-margin;

    .task {

        p {
            margin: $spacing-xs;
        }
    }
}